.politic {
  color: rgb(7, 23, 57);
  font-family: Montserrat, sans-serif;
  font-size: 14px;

  .bold {
    font-family: "Montserrat SemiBold", sans-serif;
  }

  div {
    margin-bottom: 10px;
  }
}
