@import "../../../../assets/styles/variables";
//@import "../../../../assets/styles/mixins";

.catalog {
  padding-top: 100px;
  padding-bottom: 110px;

  .container {
    .catalog-title {
      //color: $green-text-color;
      //@include head-lora-36;
      margin-left: 317px;
      margin-bottom: 33px;
    }

    .catalog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      //margin-left: 317px;

      .catalog-applied-filters {
        display: flex;
        flex-wrap: wrap;

        .catalog-applied-filter {
          box-sizing: border-box;
          border: 1px solid rgb(231, 241, 232);
          border-radius: 50px;
          //color: $gray-text-color;
          font-size: 16px;
          padding: 8px 14px;
          display: flex;
          align-items: center;
          margin-right: 10px;
          margin-bottom: 10px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            margin-left: 8px;
          }
        }
      }

      .catalog-sorting {
        box-sizing: border-box;
        position: relative;
        font-size: 16px;
        width: 190px;
        min-width: 190px;
        cursor: pointer;

        .catalog-sorting-head {
          display: flex;
          align-items: center;
          padding: 12px 0 12px 23px;
          justify-content: space-between;
          //color: $gray-text-color;

          span {
            margin-right: 8px;
          }
        }

        .catalog-sorting-body {
          position: absolute;
          z-index: 3;
          display: none;
          padding: 12px 23px;
          border-radius: 0 0 5px 5px;
          background: rgb(255, 255, 255);
          box-sizing: border-box;
          border: 2px solid rgb(185, 213, 253);
          color: rgb(190, 190, 190);
          font-family: Montserrat, sans-serif;
          font-size: 16px;
          font-weight: 400;
          height: 185px;
          width: 257px;
          overflow: hidden;

          .catalog-sorting-item {
            margin-bottom: 14px;
            cursor: pointer;
            background-image: url('/assets/images/main/plus.png');
            background-repeat: no-repeat;
            display: flex;
            background-position: right;

            &:checked {
              color: rgb(49, 49, 49);
              background-image: url('/assets/images/main/minus.png');
              background-color: transparent;
            }


            &:last-child {
              margin-bottom: 0;
            }

            &.active {
              color: rgb(49, 49, 49)
            }
          }
        }

        &.open {
          width: 257px;
          min-width: 257px;

          .catalog-sorting-head {
            color: rgb(0, 0, 0);
            border-radius: 5px 5px 0 0;
            background: rgb(235, 235, 235);
            padding-right: 23px;
            box-sizing: border-box;
          }

          .catalog-sorting-body {
            display: block;
          }
        }

      }
    }


    .blog {
      margin-bottom: 186px;

      .container {

        .blog-title {
          color: $blue-text-color;
          font-family: Lora, sans-serif;
          font-size: 38px;
          font-weight: 400;
          margin-bottom: 40px;

        }

        .blog-cards {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 40px 25px;

        }
      }
    }


    .catalog-layout {
      margin-top: 10px;
      display: flex;

      .catalog-filters {
        width: 257px;
        min-width: 257px;
        margin-right: 58px;

      }


      .catalog-products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 26px 30px;
      }
    }

    .pagination {
      margin-top: 79px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
          opacity: 0.5;

          &svg {
            fill: rgb(190, 190, 190);
          }
        }
      }

      .pagination-pages {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        align-items: center;

        a.pagination-page {
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          width: 60px;
          height: 60px;
          font-size: 20px;
          color: rgb(7, 23, 57);
          cursor: pointer;

          &.active {
            border-radius: 50%;
            color: rgb(185, 213, 253);
          }

          &:last-child {
            margin-right: 0;
          }

        }
      }
    }
  }
}

