@import "variables";

html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
}

input {
  box-sizing: border-box;
  border: 2px solid $blue-text-color;
  border-radius: 3px;
  padding: 20px;

  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $blue-text-color;
}

.btn {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: $blue-text-color;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 400;

  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

input {
  box-sizing: border-box;
  border: 2px solid $blue-text-color;
  border-radius: 3px;
  padding: 20px;
}

.carousel{
  position: relative;
}

.owl-theme .owl-dots {
  position: absolute;
  left: calc(50% - 60px);
  bottom: 15px;
}



.owl-theme .owl-dots .owl-dot span{
  border: 1px solid rgb(255, 255, 255) ;
  background: transparent;
  margin: 5px 12px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: white;
}


.owl-theme .owl-dots .owl-dot:hover span,
.owl-theme .owl-dots .owl-dot.active:hover span{
  background: rgba(255, 255, 255, 0.6);
}


.article-content {

  width: 818px;

  h3 {
    color: rgb(112, 159, 220);
    font-family: Lora, sans-serif;
    font-size: 38px;
    font-weight: 400;
  }

  p {
    color: rgb(7, 23, 57);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
  }

  ol, ul {
    padding: 20px;
    li {
      color: rgb(7, 23, 57);
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}
